@model TgpBudget.Models.CatDisplayVM

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width:25%; text-align:left;">
                    @Html.DisplayNameFor(model => model.IncTotal.Name)
                </th>
                <th style="width:25%; text-align:right; font-style:italic;">
                    @Html.DisplayNameFor(model => model.IncTotal.Actual)
                </th>
                <th style="width:25%; text-align:right; font-style:italic;">
                    @Html.DisplayNameFor(model => model.IncTotal.Budget)
                </th>
                <th style="width:25%; text-align:right; font-style:italic;">
                    @Html.DisplayNameFor(model => model.IncTotal.Variance)
                </th>
            </tr>
        </thead>

        <tfoot style="vertical-align:bottom">
            <tr>
                <td style="font-weight:bolder">
                    @Html.DisplayFor(model => Model.IncTotal.Name)
                </td>
                <td style="font-weight:bolder; text-align:right">
                    @Html.DisplayFor(model => Model.IncTotal.Actual)
                </td>
                <td style="font-weight:bolder; text-align:right">
                    @Html.DisplayFor(model => Model.IncTotal.Budget)
                </td>
                <td style="font-weight:bolder; text-align:right; font-style:italic">
                    @Html.DisplayFor(model => Model.IncTotal.Variance)
                </td>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>

<div class="row">
    <div class="col-sm-12">
        <table style="width:inherit; height:inherit">
            <thead>
                <tr>
                    <th style="width:25%; text-align:left;">
                    </th>
                    <th style="width:25%; text-align:right; font-style:italic;">
                    </th>
                    <th style="width:25%; text-align:right; font-style:italic;">
                    </th>
                    <th style="width:25%; text-align:right; font-style:italic;">
                    </th>
                </tr>
            </thead>

            <tfoot style="vertical-align:bottom">
                <tr>
                    <td style="font-weight:bolder">
                        @Html.DisplayFor(model => Model.ExpTotal.Name)
                    </td>

                    <td style="font-weight:bolder; text-align:right">
                        @Html.DisplayFor(model => Model.ExpTotal.Actual)

                    </td>
                    <td style="font-weight:bolder; text-align:right">
                        @Html.DisplayFor(model => Model.ExpTotal.Budget)
                    </td>
                    <td style="font-weight:bolder; text-align:right; font-style:italic">
                        @Html.DisplayFor(model => Model.ExpTotal.Variance)
                    </td>
                </tr>
            </tfoot>
            <tbody></tbody>

        </table>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-sm-12">
        <table style="width:inherit;height:inherit;max-width:inherit;max-height:inherit">
            <thead>
            </thead>
            <tfoot style="vertical-align:bottom; ">
                <tr>
                    <th style="width:25%; text-align:left">
                        <u>@Html.DisplayFor(model => model.NetTotal.Name)</u>
                    </th>
                    <th style="width:25%; text-align:right; font-style:italic;text-decoration-line:underline">
                        <u>@Html.DisplayFor(model => model.NetTotal.Actual)</u>
                    </th>
                    <th style="width:25%; text-align:right; font-style:italic;text-decoration-line:underline">
                        <u>@Html.DisplayFor(model => model.NetTotal.Budget)</u>
                    </th>
                    <th style="width:25%; text-align:right; font-style:italic;text-decoration-line:underline">
                        <u>@Html.DisplayFor(model => model.NetTotal.Variance)</u>
                    </th>
                </tr>
            </tfoot>
            <tbody></tbody>

        </table>
    </div>
</div>

