@*@model IEnumerable<TgpBudget.Models.CategoryCollection>*@
@model TgpBudget.Models.CategoryCollection

@{
    ViewBag.Title = "Index";
}

<h2>Category List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.category.Name)
            </th>
            <th style="max-width:175px; text-align:center">
                @Html.DisplayNameFor(model => model.category.BudgetAmount)
            </th>
            <th style="max-width:175px; text-align:center">
                @Html.DisplayNameFor(model => model.ActualAmount)
            </th>
            <th style="max-width:175px; text-align:center">
                @Html.DisplayNameFor(model => model.Variance)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.category.Name)
                </td>
                <td style="max-width:175px; text-align:right">
                    @Html.DisplayFor(modelItem => item.category.BudgetAmount)

                </td>

                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.ActualAmount)

                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Variance)

                </td>

                <td>
                    @if (!item.IsTotal)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.category.Id })<span> | </span>
                        @Html.ActionLink("Details", "Details", new { id = item.category.Id })<span> | </span>
                        <button data-id="@item.category.Id" class="btn del" data-toggle="modal" data-target="#delCategoryModal">
                            <span>Delete</span>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- vvvvv Start of Modal vvvvv -->

<div class="modal fade" id="delCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:800px;">
        <div class="modal-content" style="align-content:center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" style="text-align:center; color:#fff"
                    id="myModalLabel">
                    Confirm Delete
                </h4>
            </div>

            <div class="modal-body" style="text-align:center">
                <div class="row">
                    <h4>Are you sure?</h4>
                    <p>If so, any transactions in this Category post to 'Other Expense' or 'Other Income'</p>
                </div>
            </div>
            <div class="modal-footer" style="align-items:center">
                <button type="button" data-dismiss="modal" class="btn btn-skin xtra-btn">Dismiss</button>

                <form id="deleteIdForm" action="@Url.Action("Delete", "Categories") ">
                    @Html.AntiForgeryToken()
                    <input id="modal-id" type="hidden" name="id" value="" />
                    <button id="deleteConfirmed" value="true" form="deleteIdForm" type="submit"
                            class="btn btn-danger xtra-danger-btn" data-warning="modal">
                        Delete
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- ^^^^^ Modal end ^^^^^ -->

@section scripts{
    <script>
        var categoryId = 0;
        $('#delCategoryModal').on('shown.bs.modal', function (e) {
            var j = $(e.relatedTarget).data('id');
            console.log(' categoryId j: ' + j);
            categoryId = j;
            $('.modal-backdrop').removeClass('modal-backdrop');
            $('#modal-id').val(categoryId);
        });

    </script>
}
