@model TgpBudget.Models.CatDisplayVM

@*@{
        ViewBag.Title = "Index";
    }*@



@*@section styles
    {<style>
            td{
                width: 100px;
            }

        </style>
    }*@
<div class="row">
    <div class="col-sm-4" style="display:inline">
        <h2>Categories & Budget</h2>

    </div>

    <div class="col-sm-6" style="display:inline; margin:30px 0 0px">

        @using (Html.BeginForm("Index", "Categories", "Period"))
        {
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                    <div class="radio-inline btn btn-primary">
                        @Html.RadioButton("Period", "currentMonth", new { onchange = "this.form.submit();" })
                        <label class="active">Current Month</label>
                    </div>

                    <div class="btn btn-primary radio-inline">
                        @Html.RadioButton("Period", "priorMonth", new { onchange = "this.form.submit();" })
                        <label>Prior Month</label>
                    </div>

                    <div class="btn btn-primary radio-inline">
                        @Html.RadioButton("Period", "last30Days", new { onchange = "this.form.submit();" })
                        <label>Last 30 Days</label>
                    </div>

                    <div class="radio-inline btn btn-primary">
                        @Html.RadioButton("Period", "avg90Days", new { onchange = "this.form.submit();" })
                        <label>90 Day Avg</label>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="col-sm-2" style="display:inline; margin:40px 0 0px; text-align:left">
        <p>
            @Html.ActionLink("New Category", "Create")
        </p>
    </div>

</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th style="width:10%; text-align:left;">
                    @Html.DisplayNameFor(model => model.IncTotal.Name)
                </th>
                <th style="width:10%; text-align:right; font-style:italic;">
                    @Html.DisplayNameFor(model => model.IncTotal.Reconciled)
                </th>
                <th style="width:10%; text-align:right; font-style:italic;">
                    @Html.DisplayNameFor(model => model.IncTotal.Unreconciled)
                </th>
                <th style="width:10%; text-align:right; font-style:italic;">
                    @Html.DisplayNameFor(model => model.IncTotal.Actual)
                </th>
                <th style="width:10%; text-align:right; font-style:italic;">
                    @Html.DisplayNameFor(model => model.IncTotal.Budget)
                </th>
                <th style="width:10%; text-align:right; font-style:italic;">
                    @Html.DisplayNameFor(model => model.IncTotal.Variance)
                </th>
                <th style="width:15%; text-align:center">
                    Actions
                </th>
            </tr>
        </thead>

        <tfoot style="vertical-align:bottom">
            <tr>
                <td style="font-weight:bolder">
                    @Html.DisplayFor(model => Model.IncTotal.Name)
                </td>

                <td style="font-weight:bolder; text-align:right; font-style:italic">
                    @Html.DisplayFor(model => Model.IncTotal.Reconciled)
                </td>
                <td style="font-weight:bolder; text-align:right; font-style:italic">
                    @Html.DisplayFor(model => Model.IncTotal.Unreconciled)
                </td>

                <td style="font-weight:bolder; text-align:right">
                    @Html.DisplayFor(model => Model.IncTotal.Actual)

                </td>
                <td style="font-weight:bolder; text-align:right">
                    @Html.DisplayFor(model => Model.IncTotal.Budget)
                </td>
                <td style="font-weight:bolder; text-align:right; font-style:italic">
                    @Html.DisplayFor(model => Model.IncTotal.Variance)
                    </>
            </tr>
        </tfoot>

        <tbody>
            @foreach (var item in Model.IncCats)
            {
                <tr style="text-align:right">
                    <td style="text-align:left">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Reconciled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unreconciled)
                    </td>

                    <td style="text-align:right; font-weight:bold;">
                        @Html.DisplayFor(modelItem => item.Actual)

                    </td>
                    <td style="text-align:right; font-weight:bold;">
                        @Html.DisplayFor(modelItem => item.Budget)
                    </td>
                    <td style="text-align:right; font-style:italic;">
                        @Html.DisplayFor(modelItem => item.Variance)

                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span> | </span>
                        @Html.ActionLink("Details", "Details", new { id = item.Id })<span> | </span>
                        <button data-id="@item.Id" class="btn del" data-toggle="modal" data-target="#delCategoryModal">
                            <span>Delete</span>
                        </button>
                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>

<div class="row">
    <div class="col-sm-12">
        <table style="width:inherit; height:inherit">
            <thead>
                <tr>
                    <th style="width:10%; text-align:left;">

                    </th>
                    <th style="width:10%; text-align:right; font-style:italic;">

                    </th>
                    <th style="width:10%; text-align:right; font-style:italic;">

                    </th>
                    <th style="width:10%; text-align:right; font-style:italic;">

                    </th>
                    <th style="width:10%; text-align:right; font-style:italic;">

                    </th>
                    <th style="width:10%; text-align:right; font-style:italic;">

                    </th>
                    <th style="width:15%; text-align:center">

                    </th>
                </tr>
            </thead>

            <tfoot style="vertical-align:bottom">
                <tr>
                    <td style="font-weight:bolder">
                        @Html.DisplayFor(model => Model.ExpTotal.Name)
                    </td>

                    <td style="font-weight:bolder; text-align:right; font-style:italic">
                        @Html.DisplayFor(model => Model.ExpTotal.Reconciled)
                    </td>
                    <td style="font-weight:bolder; text-align:right; font-style:italic">
                        @Html.DisplayFor(model => Model.ExpTotal.Unreconciled)
                    </td>

                    <td style="font-weight:bolder; text-align:right">
                        @Html.DisplayFor(model => Model.ExpTotal.Actual)

                    </td>
                    <td style="font-weight:bolder; text-align:right">
                        @Html.DisplayFor(model => Model.ExpTotal.Budget)
                    </td>
                    <td style="font-weight:bolder; text-align:right; font-style:italic">
                        @Html.DisplayFor(model => Model.ExpTotal.Variance)
                    </td>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model.ExpCats)
            {
                    <tr style="text-align:right">
                        <td style="text-align:left">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reconciled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unreconciled)
                        </td>

                        <td style="text-align:right; font-weight:bolder;">
                            @Html.DisplayFor(modelItem => item.Actual)

                        </td>
                        <td style="text-align:right; font-weight:bolder;">
                            @Html.DisplayFor(modelItem => item.Budget)
                        </td>
                        <td style="text-align:right; font-style:italic;">
                            @Html.DisplayFor(modelItem => item.Variance)

                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })<span> | </span>
                            @Html.ActionLink("Details", "Details", new { id = item.Id })<span> | </span>
                            <button data-id="@item.Id" class="btn del" data-toggle="modal" data-target="#delCategoryModal">
                                <span>Delete</span>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-sm-12">
        <table style="width:inherit;height:inherit;max-width:inherit;max-height:inherit">
            <thead>

            </thead>

            <tfoot style="vertical-align:bottom; ">
                <tr>
                    <th style="width:10%; text-align:left">
                        <u>@Html.DisplayFor(model => model.NetTotal.Name)</u>
                    </th>
                    <th style="width:10%; text-align:right; font-style:italic; text-decoration-line:underline">
                        <u>@Html.DisplayFor(model => model.NetTotal.Reconciled)</u>
                    </th>
                    <th style="width:10%; text-align:right; font-style:italic;text-decoration-line:underline">
                        <u>@Html.DisplayFor(model => model.NetTotal.Unreconciled)</u>
                    </th>
                    <th style="width:10%; text-align:right; font-style:italic;text-decoration-line:underline">
                        <u>@Html.DisplayFor(model => model.NetTotal.Actual)</u>
                    </th>
                    <th style="width:10%; text-align:right; font-style:italic;text-decoration-line:underline">
                        <u>@Html.DisplayFor(model => model.NetTotal.Budget)</u>
                    </th>
                    <th style="width:10%; text-align:right; font-style:italic;text-decoration-line:underline">
                        <u>@Html.DisplayFor(model => model.NetTotal.Variance)</u>
                    </th>
                    
                    <th style="width:15%; text-align:center">

                    </th>
                </tr>
            </tfoot>
            <tbody></tbody>

        </table>
    </div>
</div>



<!-- vvvvv Start of Modal vvvvv -->

<div class="modal fade" id="delCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:360px;">
        <div class="modal-content" style="align-content:center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" style="text-align:center; color:#fff"
                    id="myModalLabel">
                    Confirm Delete
                </h4>
            </div>

            <div class="modal-body" style="text-align:center">
                <div class="row">
                    <h4>Are you sure?</h4>
                    <p>If so, any transactions in this Category post to 'Other Expense' or 'Other Income'</p>
                </div>
            </div>
            <div class="modal-footer" style="align-items:center">
                <button type="button" data-dismiss="modal" class="btn btn-skin xtra-btn">Dismiss</button>

                <form id="deleteIdForm" action="@Url.Action("Delete", "Categories") ">
                    @Html.AntiForgeryToken()
                    <input id="modal-id" type="hidden" name="id" value="" />
                    <button id="deleteConfirmed" value="true" form="deleteIdForm" type="submit"
                            class="btn btn-danger xtra-danger-btn" data-warning="modal">
                        Delete
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- ^^^^^ Modal end ^^^^^ -->

@section scripts{
    <script>
        //$(document).ready(function () {
        // $('.table').DataTable();
        //});
        var categoryId = 0;
        $('#delCategoryModal').on('shown.bs.modal', function (e) {
            var j = $(e.relatedTarget).data('id');
            console.log(' categoryId j: ' + j);
            categoryId = j;
            $('.modal-backdrop').removeClass('modal-backdrop');
            $('#modal-id').val(categoryId);
        });


    </script>
}
