@model IEnumerable<TgpBudget.Models.CategoryViewModel>

@{
    ViewBag.Title = "Index";
}

<div row style="display:inline">
    <div class="col-sm-4" style="display:inline">
        <h2>Categories & Budget</h2>

    </div>

    <div class="col-sm-6" style="display:inline; margin:30px 0 0px">

        @using (Html.BeginForm("Index", "Categories", "Period"))
        {
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                    <div class="radio-inline btn btn-primary">
                        @Html.RadioButton("Period", "currentMonth", new { onchange = "this.form.submit();" })
                        <label class="active">Current Month</label>
                    </div>

                    <div class="btn btn-primary radio-inline">
                        @Html.RadioButton("Period", "priorMonth", new { onchange = "this.form.submit();" })
                        <label>Prior Month</label>
                    </div>

                    <div class="btn btn-primary radio-inline">
                        @Html.RadioButton("Period", "last30Days", new { onchange = "this.form.submit();" })
                        <label>Last 30 Days</label>
                    </div>

                    <div class="radio-inline btn btn-primary">
                        @Html.RadioButton("Period", "avg90Days", new { onchange = "this.form.submit();" })
                        <label>90 Day Avg</label>
                    </div>

                </div>
            </div>
            @*<input type="submit" value="Next" />*@
        }


    </div>
    @*<div class="col-sm-1"></div>*@
    <div class="col-sm-2" style="display:inline; margin:40px 0 0px; text-align:left">
        <p>
            @Html.ActionLink("New Category", "Create")
        </p>
    </div>

</div>

<table class="table">
    <thead>
        <tr >
            <th style="max-width:150px; text-align:left;">
                @Html.DisplayNameFor(model => model.category.Name)
            </th>

            <th style="max-width:150px; text-align:right; font-style:italic;">
                @Html.DisplayNameFor(model => model.ReconciledAmount)
            </th>
            <th style="max-width:150px; text-align:right; font-style:italic;">
                @Html.DisplayNameFor(model => model.UnreconciledAmount)
            </th>
            <th style="max-width:150px; text-align:right; ">
                @Html.DisplayNameFor(model => model.ActualAmount)
            </th>
            <th style="max-width:150px; text-align:right; ">
                @Html.DisplayNameFor(model => model.category.BudgetAmount)
            </th>
            <th style="max-width:150px; text-align:right;font-style:italic; ">
                @Html.DisplayNameFor(model => model.Variance)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="text-align:right">
                <td style="text-align:left">
                    @Html.DisplayFor(modelItem => item.category.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ReconciledAmount)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnreconciledAmount)
                </td>

                <td style="text-align:right; font-weight:bolder;">
                    @Html.DisplayFor(modelItem => item.ActualAmount)

                </td>
                <td style="text-align:right; font-weight:bolder;">
                    @Html.DisplayFor(modelItem => item.category.BudgetAmount)
                </td>
                <td style="text-align:right; font-style:italic;">
                    @Html.DisplayFor(modelItem => item.Variance)

                </td>
                <td>
                    @if (!item.IsTotal)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.category.Id })<span> | </span>
                        @Html.ActionLink("Details", "Details", new { id = item.category.Id })<span> | </span>
                        <button data-id="@item.category.Id" class="btn del" data-toggle="modal" data-target="#delCategoryModal">
                            <span>Delete</span>
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- vvvvv Start of Modal vvvvv -->

<div class="modal fade" id="delCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:800px;">
        <div class="modal-content" style="align-content:center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" style="text-align:center; color:#fff"
                    id="myModalLabel">
                    Confirm Delete
                </h4>
            </div>

            <div class="modal-body" style="text-align:center">
                <div class="row">
                    <h4>Are you sure?</h4>
                    <p>If so, any transactions in this Category post to 'Other Expense' or 'Other Income'</p>
                </div>
            </div>
            <div class="modal-footer" style="align-items:center">
                <button type="button" data-dismiss="modal" class="btn btn-skin xtra-btn">Dismiss</button>

                <form id="deleteIdForm" action="@Url.Action("Delete", "Categories") ">
                    @Html.AntiForgeryToken()
                    <input id="modal-id" type="hidden" name="id" value="" />
                    <button id="deleteConfirmed" value="true" form="deleteIdForm" type="submit"
                            class="btn btn-danger xtra-danger-btn" data-warning="modal">
                        Delete
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- ^^^^^ Modal end ^^^^^ -->

@section scripts{
    <script>
        //$(document).ready(function () {
        $('.table').DataTable();
        //});
        var categoryId = 0;
        $('#delCategoryModal').on('shown.bs.modal', function (e) {
            var j = $(e.relatedTarget).data('id');
            console.log(' categoryId j: ' + j);
            categoryId = j;
            $('.modal-backdrop').removeClass('modal-backdrop');
            $('#modal-id').val(categoryId);
        });


    </script>
}
