@model TgpBudget.Models.HouseholdViewModel

@{
    ViewBag.Title = "Join an existing or Create a new household";
}
<h2>@ViewBag.Title</h2>
<h4 style="color:red">@ViewBag.Msg</h4>
@*<button name="TryCode1" value="1" id="JoinBtn" class="btn btn-info btn-fill pull-left"> Join</button>
    <button name="TryCode2" value="2" id="CreateBtn" class="btn btn-info btn-fill"> Create</button>
    <button name="TryCode3" value="3" id="LeaveBtn" class="btn btn-info btn-fill"> Leave</button>*@


<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Join a Household</a></li>
        <li><a href="#tabs-2">Create a Household</a></li>
        <li><a href="#tabs-3">Leave TGP-Budget</a></li>
    </ul>
    <div id="tabs-1">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @{
                    Model.Name = "Demo";
                }
                @Html.HiddenFor(m => m.Name)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.InvitationCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InvitationCode, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InvitationCode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Join" class="btn btn-default" />
                    </div>
                </div>
            </div>
                    }
        <div>
            @Html.ActionLink("Return Home", "Index")
        </div>
    </div>
    <div id="tabs-2">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @{
                    Model.InvitationCode = "000000000000";
                    Model.Name = "";
                }
                @Html.HiddenFor(m => m.InvitationCode)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TaxId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TaxId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TaxId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
                    }
        <div>
            @Html.ActionLink("Return Home", "Index")
        </div>

    </div>
    <div id="tabs-3">
        <div class="form-horizontal">

            <div class="form-group">
                Are you sure you want to logout?

                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a class="btn btn-default" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }

                <div class="col-md-10">
                    <a href="@Url.Action("javascript:document.getElementById('logoutForm').submit()")"></a>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Leave" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div>
            @Html.ActionLink("Return Home", "Index","Home")
        </div>
    </div>
</div>


<!--
@{bool TryCode = false; }

<h4>Household</h4>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @if (TryCode)
        {
            Model.Name = "Demo";
            Html.HiddenFor(m => m.Name);

            Html.ValidationSummary(true, "", new { @class = "text-danger" });
            <div class="form-group">
                @Html.LabelFor(model => model.InvitationCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InvitationCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InvitationCode, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            Model.InvitationCode = "";
            Html.HiddenFor(m => m.InvitationCode);

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TaxId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TaxId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TaxId, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Return Home", "Index")
</div>
-->
<!-- vvvvv Start of Modal vvvvv -->
@*
    <div class="modal fade" id="joinCreateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="align-content:center">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" 
                            aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title" style="text-align:center; color:#fff"
                        id="myModalLabel">
                        Join / Create / Leave
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <p>If you have been invited to join an existing household, enter the Invitation Code and press Join.</p>
                        <p>To create a new household, press the Create button.</p>
                        <p>To log off from TGP-Budget, press the Leave button.</p>
                    </div>
                </div>
                <div class="modal-footer" style="align-content:center">

                    <div class="row">
                        <div class="col-sm-3">Now what?</div>
                        <div class="col-sm-9">
                            <div class="btn-group" data-toggle="buttons">
                                <button type="submit" name="TryCode" value="1" id="JoinBtn" class="btn btn-info btn-fill pull-left" /> Join
                                <button type="submit" name="TryCode" value="2" id="CreateBtn" class="btn btn-info btn-fill" /> Create
                                <button type="submit" name="TryCode" value="3" id="LeaveBtn" class="btn btn-info btn-fill pull-right" /> Leave
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
*@

<!-- ^^^^^ Modal end ^^^^^ -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(window).load(function () {
            //$('#joinCreateModal').modal('show');
            $(function () {
                $("#tabs").tabs();
            });

            //$('#JoinBtn').click(function () {
            //    $("#tabs-1").show();
            //    $("#tabs-2").hide();
            //    $("#tabs-3").hide();
            //    $('#joinCreateModal').modal('hide');
            //});
            //$('#CreateBtn').click(function () {
            //    $("#tabs-1").hide();
            //    $("#tabs-2").show();
            //    $("#tabs-3").hide();
            //    $('#joinCreateModal').modal('hide');
            //});
            //$('#LeaveBtn').click(function () {
            //    $("#tabs-1").hide();
            //    $("#tabs-2").hide();
            //    $("#tabs-3").show();
            //    $('#joinCreateModal').modal('hide');
            //});
        });
    </script>
}