<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TGP Budget App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Chartist-JS code -->
    <link href="~/Content/chartist.css" rel="stylesheet" />

    <!-- vvvvvv start of TEMPLATE addins vvvvvv -->
    <!-- Animation library for notifications   -->
    <link href="~/XcTim1-3/assets/css/animate.min.css" rel="stylesheet" />
    <!--  Light Bootstrap Table core CSS    -->
    <link href="~/XcTim1-3/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.css" />

    <!--  CSS for Demo Purpose, don't include it in your project
    <link href="~/XcTim1-3/assets/css/demo.css" rel="stylesheet" />  -->
    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="~/XcTim1-3/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!-- ^^^^^ start of TEMPLATE addins ^^^^^ -->

    <link href="~/Content/site.css" rel="stylesheet" />

</head>
<body>


    <div class="wrapper">
        <div class="sidebar" data-color="blue" data-image="/XcTim1-3/assets/img/sidebar-5.jpg">

            <!--
                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <img />
                    <a href="http://tpeara@azurewebsites.net" background-image="~/img/logo/tlogo.png">
                    </a>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href=@Url.Action("Index", "Home")>
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Deals")>
                            <i class="pe-7s-cash"></i>
                            <p>Transactions</p>
                        </a>
                    </li>
                    <li>
                        @*<a href=@Url.Action("Index", "Categories",new { period = "currentMonth" })>*@
                            <a href=@Url.Action("Details", "Categories", new { period = "currentMonth" })>
                                <i class="pe-7s-menu"></i>
                                <p>Budget Categories</p>
                            </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "BankAccts")>
                            <i class="pe-7s-piggy"></i>
                            <p>Bank Accounts</p>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index", "Households")>
                            <i class="pe-7s-home"></i>
                            <p>Household Info</p>
                        </a>
                    </li>
                    <li>
                        <a href=@Url.Action("EditUserProfile", "Manage")>
                            <i class="pe-7s-user"></i>
                            <p>User Profile</p>
                        </a>
                    </li>


                </ul>
            </div>
        </div>



        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a href="https://tpeara.azurewebsites.net" background-image="~/img/logo/tlogo.png"
                           style="padding:!important 13px 15px 5px 0px;margin: 13px 0px 0px 0px; font-size:x-large; font-weight:900;">TGP</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    @*<span class="notification">5</span>*@
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>
                            </li>
                            <li>
                                @*<a href="">
                                    <i class="fa fa-search"></i>
                                </a>*@
                            </li>
                            <li>
                                <b>@ViewBag.ActiveHousehold</b>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>

                            @*<li>
                                    <a href="#">
                                        Log out
                                    </a>
                                </li>*@
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - TGP Budget Application</p>
                </footer>
            </div>

        </div>
    </div>

</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/dt-1.10.11/datatables.min.js"></script>

<!--  Checkbox, Radio & Switch Plugins -->

<script src="~/XcTim1-3/assets/js/bootstrap-checkbox-radio-switch.js"></script>
<!--  Charts Plugin -->
<script src="~/XcTim1-3/assets/js/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="~/XcTim1-3/assets/js/bootstrap-notify.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="~/XcTim1-3/assets/js/light-bootstrap-dashboard.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>

<script src="~/Scripts/jquery-ui.js"></script>
<!-- Light Bootstrap Table DEMO methods, don't include it in your project!
<script src="~/XcTim1-3/assets/js/demo.js"></script> -->
<!-- Chartist-JS code -->
<script src="~/Scripts/chartist.js"></script>
<script src="~/Scripts/site.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        //demo.initChartist();

        //$.notify({
        //    icon: 'pe-7s-gift',
        //    message: "Welcome to <b>TGP Budget</b> - an easy family budgeting App."

        //}, {
        //    type: 'info',
        //    timer: 500
        //});

    });
</script>
@RenderSection("scripts", required: false)