@model IEnumerable<TgpBudget.Models.Deal>

@{
    ViewBag.Title = "Transactions Index";
}
<div row style="display:inline">
    <div class="col-sm-4" style="display:inline">
        <h2>Transactions List</h2>

    </div>
    <div class="col-sm-1" style="display:inline; margin:30px 0 0px">
        @*<h5>Sort by</h5>*@
    </div>
    <div class="col-sm-5" style="display:inline; margin:30px 0 0px">
        <!--
        @using (Html.BeginForm("Index", "Deals"))
        {
            <div class="form-group">
                <div class="btn-group" data-toggle="buttons">
                    <div class="radio-inline btn btn-primary">
                        @Html.RadioButton("SortOrder", "byDate", new { @checked = "checked", onchange = "this.form.submit();", @Class = "active" })
                        <label>Date</label>
                    </div>

                    <div class="btn btn-primary radio-inline">
                        @Html.RadioButton("SortOrder", "byCategory", new { onchange = "this.form.submit();", @Class = "" })
                        <label>Category</label>
                    </div>

                    <div class="radio-inline btn btn-primary">
                        @Html.RadioButton("SortOrder", "byBankAcct", new { onchange = "this.form.submit();", @Class = "" })
                        <label>Account</label>
                    </div>


                    <div class="radio-inline btn btn-primary">
                        @Html.RadioButton("SortOrder", "byAmount", new { onchange = "this.form.submit();", @Class = "" })
                        <label>Amount</label>
                    </div>

                </div>
            </div>
            @*<input type="submit" value="Next" />*@
        }
        -->

    </div>
    @*<div class="col-sm-2"></div>*@
    <div class="col-sm-2" style="display:inline; margin:45px 0 0px; text-align:center">
        <p>
            @Html.ActionLink("New Transaction", "New")
        </p>
    </div>

</div>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.DealDate)
            </th>

            <th>
                @Html.DisplayNameFor(m => m.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.BankAcct.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Payee)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Description)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Reconciled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DealDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankAcct.AccountName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Payee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Reconciled)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    <button data-id="@item.Id" class="btn del" data-toggle="modal" data-target="#delDealModal">
                        <span>Delete</span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Back to Full List", "Index", new { id = "", calledFrom="fullPage" })
</div>

<!-- vvvvv Start of Modal vvvvv -->

<div class="modal fade" id="delDealModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:800px;">
        <div class="modal-content" style="align-content:center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" style="text-align:center; color:#fff"
                    id="myModalLabel">
                    Confirm Delete
                </h4>
            </div>

            <div class="modal-body" style="text-align:center">
                <div class="row">
                    <h4>Are you sure you want to delete this transaction?</h4>
                </div>
            </div>
            <div class="modal-footer" style="align-items:center">
                <button type="button" data-dismiss="modal" class="btn btn-skin xtra-btn">Dismiss</button>

                <form id="deleteIdForm" action="@Url.Action("Delete", "Deals") ">
                    @Html.AntiForgeryToken()
                    <input id="modal-id" type="hidden" name="id" value="" />
                    <button id="deleteConfirmed" value="true" form="deleteIdForm" type="submit"
                            class="btn btn-danger xtra-danger-btn" data-warning="modal">
                        Delete
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- ^^^^^ Modal end ^^^^^ -->

@section scripts{
    <script>

        var categoryId = 0;
        $('#delDealModal').on('shown.bs.modal', function (e) {
            var j = $(e.relatedTarget).data('id');
            console.log(' categoryId j: ' + j);
            categoryId = j;
            $('.modal-backdrop').removeClass('modal-backdrop');
            $('#modal-id').val(categoryId);
        });


        $(document).ready(function () {
            $('.table').DataTable({
                "order":[0,'desc']
            });
            
            
        });
        $(":radio").click(function () {

            var SelectedValue = $(this).val();
            console.log('SelectedValue: ' + SelectedValue);
        });

    </script>
}


