@model IEnumerable<TgpBudget.Models.BankAcct>

@{
    ViewBag.Title = "Financial Accounts";
}


<div row style="display:inline">
    <div class="col-sm-5">
        <h3 style="display:inline; margin:10px">Accounts</h3>

    </div>
    <div class="col-sm-5">
        <h4 style="display:inline; margin-top:10px;text-align:center">Balance</h4>

    </div>


    @*<div class="col-sm-2">
            <p  style="display:inline; margin-top: 15px; text-align:center">
                @Html.ActionLink("New", "Open")
            </p>
        </div>*@


</div>



<table class="table">
    <tr>

        <th>
            Acct Name
        </th>
        <th>
            Current
        </th>
        <th>
            Reconciled
        </th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceCurrent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceReconciled)
            </td>

        </tr>
    }
</table>

<!-- vvvvv Start of Modal vvvvv -->

<div class="modal fade" id="closeBankAcctModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:360px;">
        <div class="modal-content" style="align-content:center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" style="text-align:center; color:#fff"
                    id="myModalLabel">
                    Confirm Closing of Account
                </h4>
            </div>

            <div class="modal-body" style="text-align:center">
                <div class="row">
                    <h4>Are you sure this Account should be <u>Closed</u>?</h4>
                    <p>If so, this Account's transactions will be removed.</p>
                </div>
            </div>
            <div class="modal-footer" style="align-items:center">
                <button type="button" data-dismiss="modal" class="btn btn-skin xtra-btn">Dismiss</button>

                <form id="deleteIdForm" action="@Url.Action("Close", "BankAccts") ">
                    @Html.AntiForgeryToken()
                    <input id="modal-id" type="hidden" name="id" value="" />
                    <button id="deleteConfirmed" value="true" form="deleteIdForm" type="submit"
                            class="btn btn-danger xtra-danger-btn" data-warning="modal">
                        Close
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- ^^^^^ Modal end ^^^^^ -->

@section scripts{
    <script>
        //$(document).ready(function () {
        // $('.table').DataTable();
        //});
        var categoryId = 0;
        $('#closeBankAcctModal').on('shown.bs.modal', function (e) {
            var j = $(e.relatedTarget).data('id');
            console.log(' categoryId j: ' + j);
            categoryId = j;
            $('.modal-backdrop').removeClass('modal-backdrop');
            $('#modal-id').val(categoryId);
        });


    </script>
}


