@model TgpBudget.Models.BankAcctList

@{
    ViewBag.Title = "Account List";
}

<div row style="display:inline">
    <div class="col-sm-4" style="display:inline; text-align:center">
        <h2>@ViewBag.Title</h2>
        <h4>@ViewBag.AsOfDate.ToString("MM/dd/yyyy")</h4>
    </div>
    <div class="col-sm-1" style="display:inline; margin:30px 0 0px">
        @*<h5>Sort by</h5>*@
    </div>
    <div class="col-sm-4" style="display:inline; margin:30px 0 0px">

    </div>

    <div class="col-sm-2" style="display:inline; margin:45px 0 0px; text-align:center">
        <p>
            @Html.ActionLink("Open New Account", "Open")
        </p>
    </div>
    <div class="col-sm-1"></div>
</div>


<table class="table">
    <thead>
        <tr>
            <td>
                Institution
            </td>
            <td>
                Acct Number
            </td>
            <td>
                Active?
            </td>
            <td>
                Current Balance
            </td>
            <td>
                Reconciled Balance
            </td>
            <td></td>
        </tr>
    </thead>
    <tfoot style="vertical-align:bottom; text-align:right">
        <tr>
            <td>
                Combined
            </td>
            <td>
                Balance
            </td>
            <td>
                ...
            </td>
            <td style="font-weight:bold; ">
                @Html.DisplayFor(model => model.totalAccts.BalanceCurrent)
            </td>
            <td style="font-weight:bold; ">
                @Html.DisplayFor(model => model.totalAccts.BalanceReconciled)
            </td>
            <td>
                ...
            </td>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model.BAL)
            {
            <tr style="text-align:right">
                @*<td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.HeldAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @if (item.Closed == null)
                {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceCurrent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceReconciled)
                </td>
                <td>
                    @Html.ActionLink("Transact", "Index", "Deals", new { Id = item.Id, calledFrom = "fullPage" }, null) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    <button data-id="@item.Id" class="del" data-toggle="modal" data-target="#closeBankAcctModal">
                        <span>Close</span>
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>

<hr />
<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Return Home", "Index", "Home")
    </div>
</div>



@using (Html.BeginForm("Recalc", "BankAccts", "AsOfDate"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group" style="padding:8px 12px;">
            <div style="display:inline">
                <label for="date-picker-1" class="control-label col-md-2" style="display:inline">
                    Balances as of: 
                </label>
                <div class="controls col-md-4" style="padding:8px 12px;">
                    <input class="datepicker" data-date-format="mm/dd/yyyy" name="AsOfDate" 
                           value="@ViewBag.AsOfDate.ToString("MM/dd/yyyy")" />
                </div>
                <input class="button" type="submit"
                       value="Recalculate" />
            </div>
        </div>


    </div>
}








<!-- vvvvv Start of Modal vvvvv -->

<div class="modal fade" id="closeBankAcctModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:360px;">
        <div class="modal-content" style="align-content:center">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" style="text-align:center; color:#fff"
                    id="myModalLabel">
                    Confirm Closing of Account
                </h4>
            </div>

            <div class="modal-body" style="text-align:center">
                <div class="row">
                    <h4>Are you sure this Account should be <u>Closed</u>?</h4>
                    <p>If so, this Account's transactions will be removed.</p>
                </div>
            </div>
            <div class="modal-footer" style="align-items:center">
                <button type="button" data-dismiss="modal" class="btn btn-skin xtra-btn">Dismiss</button>

                <form id="deleteIdForm" action="@Url.Action("Close", "BankAccts") ">
                    @Html.AntiForgeryToken()
                    <input id="modal-id" type="hidden" name="id" value="" />
                    <button id="deleteConfirmed" value="true" form="deleteIdForm" type="submit"
                            class="btn btn-danger xtra-danger-btn" data-warning="modal">
                        Close
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ^^^^^ Modal end ^^^^^ -->

@section scripts{
    <script>
        //$(document).ready(function () {
        // $('.table').DataTable();
        //});
        var categoryId = 0;
        $('#closeBankAcctModal').on('shown.bs.modal', function (e) {
            var j = $(e.relatedTarget).data('id');
            console.log(' categoryId j: ' + j);
            categoryId = j;
            $('.modal-backdrop').removeClass('modal-backdrop');
            $('#modal-id').val(categoryId);
        });


    </script>
}