@model IEnumerable<TgpBudget.Models.BankAcct>

@{
    ViewBag.Title = "Financial Accounts";
}

<h2>Account List</h2>

<p>
    @Html.ActionLink("Open New Account", "Open")
</p>
<table class="table">
    <tr>
        <th>
            Institution
        </th>
        <th>
            Acct Number
        </th>
        <th>
            Active?
        </th>
        <th>
            Current Balance
        </th>
        <th>
            Reconciled Balance
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.HeldAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @if (item.Closed == null)
                {
                    <text>Yes</text>
                }
                else
                {
                    <text>No</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceCurrent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceReconciled)
            </td>
            <td>

                @Html.ActionLink("Transact", "Index", "Deals", new { id = item.Id }, null) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Close", "Close", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<hr />

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Return Home", "Index", "Home")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
