@model TgpBudget.Models.BankAcctViewModel

@{
    ViewBag.Title = "Open a New Account";
}

<h2>Open a new Financial Account</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Account Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.HouseholdId)
        @Html.HiddenFor(m => m.HouseholdName)

        <div class="form-group">
            @Html.LabelFor(model => model.HouseholdName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Model.HouseholdName / @Model.HouseholdId
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HeldAt, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.HeldAt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeldAt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccountNumber, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AccountNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OpeningBalance, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.OpeningBalance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OpeningBalance, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
                @Html.LabelFor(model => model.OpeningDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OpeningDate, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>*@


        <div class="form-group row" style="padding:0px 5px;">
            <div class="col-md-4" style="display:inline; text-align:right">
                <label for="date-picker-1" class="control-label" style="display:inline; padding-top:10px">
                    Account Opening Date
                </label>
            </div>
            <div class="controls col-md-8" style="padding:0px 15px">
                

                <input class="datepicker" data-date-format="mm/dd/yyyy" name="DealDate" style="padding:8px 12px; border:1px"
                       value="@Model.OpeningDate.ToString()">
            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<br />
<hr />
<div>
    @Html.ActionLink("Return Home", "Index", "Home")
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {


            $('.datepicker').datepicker({
                format: 'dd MMM yyyy'
            });

            $(".date-picker").on("change", function () {
                var id = $(this).attr("id");
                var val = $("label[for='" + id + "']").text();
                $("#msg").text(val + " changed");
            });
        });
    </script>
}